/* DropdownButton.css */

.appointment-dropdown-container {
    position: relative;
    display: inline-block;
}

.appointment-dropdown-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.appointment-dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.appointment-dropdown-list li {
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

.appointment-dropdown-list li:hover {
    background-color: #ddd;
}